{% extends "base.html" %}
{% block content %}

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/content_manage/">Case Manage System</a>
        </div>
        <div id="navbar1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li ><a href="/content_manage/">菜单</a></li>
            <li class="active"><a href="#">单个执行用例组</a></li>
              <!--<li><a href="/case_manage/">用例管理</a></li>
            <li><a href="/step_manage/">步骤管理</a></li>-->
              <li><a href="/whole_manage/">批量执行用例</a></li>
              <!--<li><a href="/case_manage/">执行单个用例</a></li>-->

          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="#">{{user}}</a></li>
           <li><a href="/logout/">退出</a></li>
         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!--发布会表单-->
      <div class="page-header">
          <!--<div class="form-group">
            <b><font color="red">执行线上用例前，请确保该环境配置没有开启Write Mode！</font></b>
        </div>-->



        <div id="navbar" class="row">
          <form class="navbar-form" method="get" action="/search_group/">
            <div class="form-group">
              <input name="name" type="text" placeholder="名称" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
          </form>


        </div>
          <!--/.navbar-collapse -->

      </div>

      <div class="row">
        <div class="navbar-collapse collapse">
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>id</th>
                  <th>名称</th>
                  <th>状态</th>
                  <th>关联用例</th>
                  <th>结果</th>
                  <th>错误信息</th>
                  <th>用例详情</th>
                  <th>执行用例组</th>

              </tr>
            </thead>
            <tbody>
              {% for group in groups %}

                    <td>{{ group.id }}</td>
                    <td>
                        <a href="/admin/sign/group/{{ group.id }}/change/?_popup=1"  target="_blank">{{ group.name }}</a>
                    </td>
                    {% if group.status %}
                        <td><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
                    {% else %}
                        <td><img src="/static/admin/img/icon-no.svg" alt="False"></td>
                    {% endif %}
                    <td>
                        <!--<a href="/group_case_manage/{{ group.id }}/"  target="_self">
                        <font color="blue">添加用例</font></a>-->
                        <a href="/admin/sign/groupcase/?group__id__exact={{group.id}}"  target="_blank">
                            关联
                        </a>
                    </td>

                    {% if group.result %}
                        <td><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
                    {% else %}
                        <td><img src="/static/admin/img/icon-no.svg" alt="False"></td>
                    {% endif %}
                    <td>{{ group.msg }}</td>
                    <td><a href="/group_case_manage/{{group.id}}"  target="_self">
                            <font color="blue">查看</font>
                        </a></td>
                    <td><a href="/run_group/{{ group.id }}/"  target="_self"><font color="red">GO</font></a></td>





              <!--
                    <td>
                        <a href="/run_group/{{ group.id }}/"  target="_self"><font color="blue">Go</font> </a>
                    </td>
                    -->


                    <!--<td><a href="/sign_index2/{{ event.id }}/"  target="{{ event.id }}_self">sign_web</a></td>-->
                </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>

      </div>




      </div>
</div>
{% endblock %}
